.main {
    background-color: #ffffff !important;
}
.sidebar .sidebar-content {
    background-color: #ffffff !important;
    color: #333333 !important;
}
.sidebar .sidebar-content a {
    color: #333333 !important;
}
.st-bb, .st-bk, .st-bl, .st-bm, .st-bn, .st-bo {
    border-radius: 10px;
}
.st-ao, .st-ap, .st-aq {
    margin-bottom: 20px;
}
.st-ae {
    color: #2e3440;
}
h1, h2, h3, h4 {
    color: #000000;
}
.stMetric-value, .stMetric-label {
    color: #333333 !important;
}
.card {
    padding: 20px;
    background-color: #ffffff !important;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    height: 150px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.card h3 {
    color: #000000;
    margin: 0;
    font-size: 18px;
}
.card p {
    color: #333333;
    font-size: 24px;
    margin: 0;
}

/* Force light theme regardless of system preferences */
@media (prefers-color-scheme: dark) {
    .sidebar .sidebar-content,
    .main,
    .card {
        background-color: #ffffff !important;
    }
}
